/* Info styles */
#info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#info-1, #contacts, #info-3 {
  position: relative;
  height: 700px;
}

.yellow-block {
  background-color: #f1b856;
}

.relative {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
}

#info-2-center {
  position: absolute;
  vertical-align: middle;
  width: 100%;
}

#info-1 > div {
  padding-inline: 12px
}

#info-3 div {
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 90%;
}

#info-3 img {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100%;
}
