html {
  background-color: #bdc7bb;
  font: normal 32px Georgia Serif;
}

img {
  max-width:100%;
}

hr {
  border: solid #58664a 2px;
  /*margin-inline: 1em;*/
}

/*Выравнивание по центру и середине*/
.middle-center {
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.middle {*/
/*  top: 50%;*/
/*  transform: translate(0, -50%);*/
/*}*/

/*.center {*/
/*  left: 50%;*/
/*  transform: translate(-50%, 0);*/
/*}*/

#main-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

#menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-grow: 1;

  padding-block: 12px;
  background-color: #58664a;
}
