
.circle {
  background-color: #58664a;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;

  left: 50%;
  transform: translate(-50%, 0);
}

.over-circle {
  position: relative;
}

.concepts {
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr;
}

.concepts .img-to-zoom {
  border-style: solid;
  border-width: 2px;
  border-color: #58664a;

  margin: 5%;
  padding: 7%;
}
