.double-project {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.tariff {
  padding-top: 1%;
}

.tariff-head {
  background-color: #f1b856;
}

.tariff-left, .tariff-right {
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
}

.tariff-left {
  margin-left: 10%;
}

.tariff-right {
  margin-right: 10%;
}


#tariff-middle {
  display: grid;
  grid-template-rows: 0.3fr 0.2fr 0.5fr;
  padding: 0 5%;
}

.tariff-2 {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
}

.tariff-2-center {
  padding: 0 5%;
}

.circle {
  background-color: #58664a;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;

  left: 50%;
  transform: translate(-50%, 0);
}

.over-circle {
  position: relative;
}

.concepts {
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr;
}

.concepts .img-to-zoom {
  border-style: solid;
  border-width: 2px;
  border-color: #58664a;

  margin: 5%;
  padding: 7%;
}
