a {
  color: white;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
}

.old-standard-text {
  font-family: 'Old Standard TT', serif;
}


h6 {
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: lighter;
  margin: 0;
}


.yellow-block-text {
  color: white;
  font: lighter 32px 'Old Standard TT', Serif;
}

.transparent-block-text {
  color: #58664a;
  text-align: center;
}

.sans-serif-text {
  font: 24px 'Montserrat', sans-serif;
}

.upper {
  text-transform: uppercase;
}

.center {
  text-align: center;
  display: block;
}

.project-bottom > p, .yellow-block > p {
  color: white;
  font: lighter 28px 'Old Standard TT', Serif;
}

.tariff-head > h3{
  color: white;
  text-align: center;
}

#tariff-left p, #tariff-right p {
  text-align: left;
}

/*.circle p {*/
/*  color: #bdc7bb;*/
/*  font-family: 'Old Standard TT', serif;*/
/*  font-size: 120px;*/
/*}*/

.text-left {
  text-align: left;
}

.white-text {
  color: white;
}
