.h3-font {
  font: normal 28px 'Old Standard TT', serif;
}
.h2-white h2 {
  color: white;
  text-transform: none;
  line-height: 1.4em;
}
.h3-white h3 {
  color: white;
  text-transform: none;
  margin: 0;
}
.absolute-inline-offset {
  left: 48px;
  right: 48px;
}
.outer {
  position: relative;
}
.inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.inner-without-offsets {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  left: 0;
}
.inner-bottom {
  position: absolute;
  bottom: 0;
}
.description-text {
  color: #58664a;
  font: bold 20px 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5em;
}
.download-link {
  font: lighter 36.4px 'Old Standard TT', serif;
  text-align: center;
  display: block;
}
.div-with-three-equal-grid-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.div-with-two-equal-grid-rows {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.grid-1fr-4fr-rows {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.grid-2fr-1fr-3fr-rows {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
}
.grid-1fr-1fr-2fr-rows {
  display: grid;
  grid-template-rows: 1fr 200px 2fr;
}
.dark-green-background {
  background-color: #58664a;
}
.yellow-background {
  background-color: #f1b856;
}
.bottom-colourful-div {
  position: relative;
  margin: 16px 16px 0 16px;
}
.bottom-colourful-div div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 16px;
}
.bottom-colourful-div div h2 {
  color: white;
  text-transform: none;
  line-height: 1.4em;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}
.underline {
  text-decoration: underline;
}
.yellow-block-text {
  color: white;
  font: normal 28px 'Old Standard TT', serif;
}
.main-container-grid-props {
  display: grid;
  grid-template-rows: 0.7fr repeat(6, 56px 1fr);
}
.padding-inline {
  padding-inline: 48px;
}
.margin-inline-half {
  margin-inline: 24px;
}
.margin-right {
  margin-right: 48px;
}
.margin-left {
  margin-left: 48px;
}
.margin-top {
  margin-top: 48px;
}
.margin-bottom {
  margin-bottom: 48px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.big-numbers {
  font: bold 120px 'Leckerli One', cursive;
  color: #bdc7bb;
}
.circle {
  background-color: #58664a;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
  transform: translate(25%, -50%);
}
#menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #58664a;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 8px 48px;
  text-align: center;
  white-space: pre;
}
#menu-container a {
  padding-inline: 8px;
  font: normal 28px 'Old Standard TT', serif;
  color: white;
  text-transform: uppercase;
}
#main-container {
  margin-inline: 48px;
  display: grid;
  grid-template-rows: 0.7fr repeat(6, 56px 1fr);
}
#main-container .divider {
  background-color: #58664a;
  margin-inline: -48px;
}
#main-container #info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#main-container #info-container div {
  position: relative;
}
#main-container #info-container .part-1 {
  background-color: #f1b856;
}
#main-container #info-container .part-1 div {
  background-color: #f1b856;
  color: white;
  font: normal 28px 'Old Standard TT', serif;
  position: absolute;
  bottom: 0;
  padding-inline: 8px;
  text-align: left;
}
#main-container #info-container #contacts {
  color: #58664a;
}
#main-container #info-container #contacts div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-inline: 48px;
}
#main-container #info-container #contacts div #instagram-btn {
  position: relative;
  font: normal 28px 'Old Standard TT', serif;
  display: block;
  background-color: #58664a;
  border-radius: 4px;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  padding: 8px;
}
#main-container #info-container #contacts div #instagram-btn .right {
  right: 8px;
  position: absolute;
  top: 0;
  transform: translate(0%, 17.33333333px);
  height: 16px;
}
#main-container #info-container .part-3 img {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100%;
}
#main-container #info-container .part-3 div {
  background-color: #f1b856;
  color: white;
  font: normal 28px 'Old Standard TT', serif;
  position: absolute;
  top: 0;
  z-index: 50;
  opacity: 90%;
  padding-inline: 48px;
}
#main-container #info-container .part-3 div p {
  font: normal 20px 'Old Standard TT', serif;
  color: white;
  text-transform: uppercase;
}
#main-container .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#main-container #project-1-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
#main-container #project-1-container .part-1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
#main-container #project-1-container .part-1 .part-top {
  position: relative;
}
#main-container #project-1-container .part-1 .part-top div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 48px;
  right: 48px;
}
#main-container #project-1-container .part-1 .part-bottom {
  position: relative;
}
#main-container #project-1-container .part-1 .part-bottom img {
  position: absolute;
  bottom: 0;
}
#main-container #project-1-container .part-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
#main-container #project-1-container .part-2 .part-bottom {
  background-color: #58664a;
  position: relative;
  margin: 16px 16px 0 16px;
}
#main-container #project-1-container .part-2 .part-bottom div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 16px;
}
#main-container #project-1-container .part-2 .part-bottom div h2 {
  color: white;
  text-transform: none;
  line-height: 1.4em;
}
#main-container #project-1-container .part-3 {
  position: relative;
}
#main-container #project-1-container .part-3 div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 48px;
  right: 48px;
}
#main-container #project-3-container .part-1 {
  display: grid;
  grid-template-rows: 1fr 5fr;
}
#main-container #project-3-container .part-1 .bottom-colourful-div {
  margin: 0;
  padding-top: 12px;
}
#main-container #project-3-container .part-2 {
  display: grid;
  grid-template-rows: 2fr 4fr;
  padding-inline: 12px;
}
#main-container #project-3-container .part-3 {
  display: grid;
  grid-template-rows: 5fr 1fr;
}
#main-container #project-3-container .part-3 a.inner {
  left: 0;
  right: 0;
}
#main-container #tariff-1 .part-1 div.outer {
  margin-right: 48px;
}
#main-container #design-boards-container .concepts {
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr;
}
#main-container #design-boards-container .concepts .concepts-title {
  background-color: #58664a;
  position: relative;
  width: 120%;
  margin-bottom: 16px;
}
#main-container #design-boards-container .concepts .concepts-title h3 {
  color: white;
  text-transform: none;
  margin: 0;
}
#main-container #design-boards-container .concepts .concepts-title h3 {
  padding-inline: 8px;
}
#main-container #design-boards-container .concepts .img-to-zoom {
  border-style: solid;
  border-width: 2px;
  border-color: #58664a;
  margin: 16px;
  padding: 16px;
}
#main-container .contacts-container {
  padding-block: 8px;
}
#main-container .contacts-container h3 {
  margin: 0;
}
h1 {
  font: lighter 54.6px 'Old Standard TT', serif;
  line-height: 1em;
  text-transform: uppercase;
  color: #58664a;
  text-align: center;
  margin: 0;
  word-wrap: break-word;
}
h2 {
  font: lighter 36.4px 'Old Standard TT', serif;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #58664a;
  text-align: center;
  display: block;
  margin: 0;
}
h3 {
  font: normal 28px 'Old Standard TT', serif;
  text-align: center;
}
p {
  color: #58664a;
  font: bold 20px 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5em;
}
hr {
  border: solid #58664a 2px;
}
img {
  max-width: 100%;
  object-fit: cover;
}
/*# sourceMappingURL=styles.css.map */