.h3-font {
  font: normal 28px 'Old Standard TT', serif;
}
.h2-white h2 {
  color: white;
  text-transform: none;
  line-height: 1.4em;
}
.h3-white h3 {
  color: white;
  text-transform: none;
  margin: 0;
}
.absolute-inline-offset {
  left: 48px;
  right: 48px;
}
.outer {
  position: relative;
}
.inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
.inner-without-offsets {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  left: 0;
}
.inner-bottom {
  position: absolute;
  bottom: 0;
}
.description-text {
  color: #58664a;
  font: bold 20px 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5em;
}
.download-link {
  font: lighter 36.4px 'Old Standard TT', serif;
  text-align: center;
  display: block;
}
@media (max-width: 1000px) {
  .download-link {
    font-size: 32px;
  }
}
.div-with-three-equal-grid-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 650px) {
  .div-with-three-equal-grid-columns {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.div-with-two-equal-grid-rows {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
.grid-1fr-4fr-rows {
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.grid-2fr-1fr-3fr-rows {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
}
.grid-1fr-1fr-2fr-rows {
  display: grid;
  grid-template-rows: 1fr 200px 2fr;
}
.dark-green-background {
  background-color: #58664a;
}
.yellow-background {
  background-color: #f1b856;
}
.bottom-colourful-div {
  position: relative;
  margin: 16px 16px 0 16px;
}
.bottom-colourful-div div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 16px;
}
.bottom-colourful-div div h2 {
  color: white;
  text-transform: none;
  line-height: 1.4em;
}
.sticky {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
}
.underline {
  text-decoration: underline;
}
.yellow-block-text {
  color: white;
  font: normal 28px 'Old Standard TT', serif;
}
.main-container-grid-props {
  display: grid;
  grid-template-rows: 0.7fr repeat(5, 56px 1fr) 56px 0.7fr;
}
@media (max-width: 650px) {
  .main-container-grid-props {
    grid-template-rows: 0.7fr repeat(4, 56px 1fr) 56px 0.5fr 56px 0.7fr;
  }
}
.padding-inline {
  padding-inline: 48px;
  padding-left: 48px;
  padding-right: 48px;
}
.margin-inline-half {
  margin-inline: 24px;
  margin-left: 24px;
  margin-right: 24px;
}
.margin-right {
  margin-right: 48px;
}
.margin-left {
  margin-left: 48px;
}
.margin-top {
  margin-top: 48px;
}
.margin-bottom {
  margin-bottom: 48px;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.circle {
  background-color: #58664a;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circle .big-numbers {
  font: bold 150px 'Leckerli One', cursive;
  color: #bdc7bb;
  margin: 0;
}
.p-on-yellow-background {
  font: lighter 32px 'Old Standard TT', serif;
  color: white;
  line-height: 1.5em;
}
#menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #58664a;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 100;
  padding: 8px 48px;
  text-align: center;
  word-wrap: normal;
}
@media (max-width: 650px) {
  #menu-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
#menu-container a {
  padding-inline: 8px;
  padding-left: 8px;
  padding-right: 8px;
  font: normal 28px 'Old Standard TT', serif;
  color: white;
  text-transform: uppercase;
}
@media (max-width: 1300px) {
  #menu-container a {
    font-size: 24px;
  }
}
#main-container {
  margin-inline: 48px;
  margin-left: 48px;
  margin-right: 48px;
  display: grid;
  grid-template-rows: 0.7fr repeat(5, 56px 1fr) 56px 0.7fr;
}
@media (max-width: 650px) {
  #main-container {
    grid-template-rows: 0.7fr repeat(4, 56px 1fr) 56px 0.5fr 56px 0.7fr;
  }
}
#main-container .divider {
  background-color: #58664a;
  margin-inline: -48px;
  margin-left: -48px;
  margin-right: -48px;
}
#main-container #info-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 650px) {
  #main-container #info-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
#main-container #info-container div {
  position: relative;
}
#main-container #info-container .part-1 {
  background-color: #f1b856;
}
#main-container #info-container .part-1 div {
  background-color: #f1b856;
  color: white;
  font: normal 28px 'Old Standard TT', serif;
  position: absolute;
  bottom: 0;
  padding-inline: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
#main-container #info-container .part-1 div p {
  text-align: left;
  margin-block: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
}
#main-container #info-container #contacts {
  color: #58664a;
}
#main-container #info-container #contacts div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-inline: 48px;
  margin-left: 48px;
  margin-right: 48px;
}
#main-container #info-container #contacts div #instagram-btn {
  position: relative;
  font: normal 28px 'Old Standard TT', serif;
  display: block;
  background-color: #58664a;
  border-radius: 4px;
  text-decoration: none;
  text-transform: none;
  text-align: left;
  padding: 8px;
}
#main-container #info-container #contacts div #instagram-btn .right {
  right: 8px;
  position: absolute;
  top: 0;
  transform: translate(0%, 17.33333333px);
  height: 16px;
}
#main-container #info-container .part-3 img {
  position: absolute;
  top: 0;
  object-fit: cover;
  height: 100%;
}
#main-container #info-container .part-3 div {
  background-color: #f1b856;
  color: white;
  font: normal 28px 'Old Standard TT', serif;
  position: absolute;
  top: 0;
  z-index: 50;
  opacity: 90%;
  padding-inline: 48px;
  padding-left: 48px;
  padding-right: 48px;
}
#main-container #info-container .part-3 div p {
  font: normal 20px 'Old Standard TT', serif;
  color: white;
  text-transform: uppercase;
}
#main-container .project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 650px) {
  #main-container .project-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
#main-container #project-1-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 650px) {
  #main-container #project-1-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
#main-container #project-1-container .part-1 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
#main-container #project-1-container .part-1 .part-top {
  position: relative;
}
#main-container #project-1-container .part-1 .part-top div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 48px;
  right: 48px;
}
#main-container #project-1-container .part-1 .part-bottom {
  position: relative;
}
#main-container #project-1-container .part-1 .part-bottom img {
  position: absolute;
  bottom: 0;
}
#main-container #project-1-container .part-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}
#main-container #project-1-container .part-2 .part-bottom {
  background-color: #58664a;
  position: relative;
  margin: 16px 16px 0 16px;
}
#main-container #project-1-container .part-2 .part-bottom div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 16px;
}
#main-container #project-1-container .part-2 .part-bottom div h2 {
  color: white;
  text-transform: none;
  line-height: 1.4em;
}
#main-container #project-1-container .part-3 {
  position: relative;
}
#main-container #project-1-container .part-3 div {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 48px;
  right: 48px;
}
#main-container #project-3-container .part-1 {
  display: grid;
  grid-template-rows: 1fr 5fr;
}
#main-container #project-3-container .part-1 .bottom-colourful-div {
  margin: 0;
  padding-top: 12px;
}
#main-container #project-3-container .part-2 {
  display: grid;
  grid-template-rows: 2fr 4fr;
  padding-inline: 12px;
  padding-left: 12px;
  padding-right: 12px;
}
#main-container #project-3-container .part-3 {
  display: grid;
  grid-template-rows: 5fr 1fr;
}
#main-container #project-3-container .part-3 a.inner {
  left: 0;
  right: 0;
}
#main-container #project-3-container p {
  font: lighter 32px 'Old Standard TT', serif;
  color: white;
  line-height: 1.5em;
}
@media (max-width: 1300px) {
  #main-container #project-3-container p {
    font-size: 28px;
  }
}
#main-container #tariff-1 {
  grid-template-areas: "part-1 part-2 part-3";
}
#main-container #tariff-1 .part-1 {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-area: part-1;
}
#main-container #tariff-1 .part-1 div.outer {
  margin-right: 48px;
}
#main-container #tariff-1 .part-2 {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
  grid-area: part-2;
}
#main-container #tariff-1 .part-3 {
  display: grid;
  grid-template-rows: 1fr 4fr;
  grid-area: part-3;
}
@media (max-width: 650px) {
  #main-container #tariff-1 {
    grid-template-columns: 1fr;
    grid-template-areas: "part-2" "part-1" "part-3";
  }
  #main-container #tariff-1 p {
    text-align: center;
  }
  #main-container #tariff-1 .part-1 div,
  #main-container #tariff-1 .part-2 div,
  #main-container #tariff-1 .part-3 div {
    margin: 0 !important;
  }
}
#main-container #tariff-2 {
  grid-template-areas: "part-1 part-2 part-3";
}
@media (max-width: 650px) {
  #main-container #tariff-2 .outer .circle {
    display: none;
  }
}
#main-container #tariff-2 .part-1 {
  margin-right: 48px;
  display: grid;
  grid-template-rows: 1fr 200px 2fr;
  grid-area: part-1;
}
@media (max-width: 650px) {
  #main-container #tariff-2 .part-1 {
    grid-template-rows: 0 0 1fr;
  }
  #main-container #tariff-2 .part-1 div {
    margin: 0;
  }
}
#main-container #tariff-2 .part-2 {
  margin-inline: 24px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  grid-template-rows: 1fr 200px 2fr;
  grid-area: part-2;
}
@media (max-width: 650px) {
  #main-container #tariff-2 .part-2 {
    grid-template-rows: 1fr 0 1fr;
  }
}
#main-container #tariff-2 .part-3 {
  margin-left: 48px;
  display: grid;
  grid-template-rows: 1fr 200px 2fr;
  grid-area: part-3;
}
@media (max-width: 650px) {
  #main-container #tariff-2 .part-3 {
    grid-template-rows: 0 0 1fr;
  }
  #main-container #tariff-2 .part-3 div {
    margin: 0;
  }
}
@media (max-width: 650px) {
  #main-container #tariff-2 {
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "part-2" "part-1" "part-3";
  }
  #main-container #tariff-2 p {
    text-align: center;
  }
  #main-container #tariff-2 .part-1,
  #main-container #tariff-2 .part-2,
  #main-container #tariff-2 .part-3 {
    margin: 0;
  }
}
#main-container #design-boards-container {
  grid-template-areas: "part-1 part-2 part-3";
}
#main-container #design-boards-container .concepts {
  display: grid;
  grid-template-rows: 0.8fr 0 1fr 0 1fr;
}
#main-container #design-boards-container .concepts .concepts-title {
  background-color: #58664a;
  position: relative;
  width: 120%;
  margin-bottom: 16px;
}
#main-container #design-boards-container .concepts .concepts-title h3 {
  color: white;
  text-transform: none;
  margin: 0;
}
#main-container #design-boards-container .concepts .concepts-title h3 {
  padding-inline: 8px;
  padding-left: 8px;
  padding-right: 8px;
}
@media (max-width: 650px) {
  #main-container #design-boards-container .concepts .concepts-title {
    width: 100%;
  }
}
#main-container #design-boards-container .concepts .img-to-zoom {
  border-style: solid;
  border-width: 2px;
  border-color: #58664a;
  margin: 16px;
  padding: 16px;
}
#main-container #design-boards-container .concepts .img-to-zoom img {
  min-height: 100%;
}
#main-container #design-boards-container .concepts .search-icon {
  color: #f1b856;
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  z-index: 50;
}
#main-container #design-boards-container .part-1 {
  grid-area: part-1;
}
#main-container #design-boards-container .part-2 {
  grid-area: part-2;
}
#main-container #design-boards-container .part-3 {
  grid-area: part-3;
}
@media (max-width: 650px) {
  #main-container #design-boards-container {
    grid-template-areas: "part-2" "part-1" "part-3";
  }
}
#main-container .contacts-container {
  padding-block: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-inline: -48px;
  margin-left: -48px;
  margin-right: -48px;
}
#main-container .contacts-container h3 {
  margin: 0;
}
html {
  background-color: #bdc7bb;
  font: normal 32px Georgia Serif;
  -webkit-text-size-adjust: none ;
}
body {
  margin: 0;
}
.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
h1 {
  font: lighter 54.6px 'Old Standard TT', serif;
  line-height: 1em;
  text-transform: uppercase;
  color: #58664a;
  text-align: center;
  margin: 0;
  word-wrap: break-word;
}
@media (max-width: 1300px) {
  h1 {
    font-size: 36.4px;
  }
}
h2 {
  font: lighter 36.4px 'Old Standard TT', serif;
  line-height: 1.2em;
  text-transform: uppercase;
  color: #58664a;
  text-align: center;
  display: block;
  margin: 0;
}
@media (max-width: 1300px) {
  h2 {
    font-size: 28px;
  }
}
h3 {
  font: normal 28px 'Old Standard TT', serif;
  text-align: center;
}
p {
  color: #58664a;
  font: bold 20px 'Montserrat', sans-serif;
  text-align: center;
  line-height: 1.5em;
}
hr {
  border: solid #58664a 2px;
}
img {
  max-width: 100%;
  object-fit: cover;
}
a {
  color: white;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  background-color: transparent;
}
button,
button:active,
button:focus {
  outline: none;
}
.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter {
  color: #58664a;
}
.sl-wrapper .sl-counter {
  font: bold 28px 'Montserrat', sans-serif;
}
@media (min-width: 650px) {
  body {
    min-width: 1000px;
  }
}
@media (max-width: 650px) {
  body {
    min-width: 400px;
  }
}
/*# sourceMappingURL=styles.css.map */