@yellow: #f1b856;
@light-green: #bdc7bb;
@dark-green: #58664a;

@inline-offset: 48px;

@min-z-index: 10;
@mid-z-index: 50;
@max-z-index: 100;

@opacity: 90%;

@max-offset: 16px;
@mid-offset: 12px;
@min-offset: 8px;

@important-text-font-family: 'Old Standard TT', serif;
@description-text-font-family: 'Montserrat', sans-serif;

@max-plus-font-size: @max-font-size + 4px;
@max-font-size: @mid-font-size + 4px;
@mid-font-size: @min-font-size + 4px;
@min-font-size: 20px;

@h2-font-size: @max-font-size*1.3;
@h1-font-size: @h2-font-size*1.5;

@border-width:2px;

.h3-font {
  font: normal @max-font-size @important-text-font-family;
}

.h2-white {
  h2 {
    color: white;
    text-transform: none;
    line-height: 1.4em;
  }
}

.h3-white {
  h3 {
    color: white;
    text-transform: none;
    margin: 0;
  }
}

.absolute-inline-offset {
  left: @inline-offset;
  right: @inline-offset;
}

.outer {
  position: relative;
}

.inner {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.inner-without-offsets {
  .inner;
  right: 0;
  left: 0;
}

.inner-bottom {
  position: absolute;
  bottom: 0;
}

.description-text {
  color: @dark-green;
  font: bold @min-font-size @description-text-font-family;
  text-align: center;
  line-height: 1.5em;
}

.download-link {
  font: lighter @h2-font-size @important-text-font-family;
  text-align: center;
  display: block;
}

.div-with-three-equal-grid-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.div-with-two-equal-grid-rows {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.grid-1fr-4fr-rows {
  display: grid;
  grid-template-rows: 1fr 4fr;
}

.grid-2fr-1fr-3fr-rows {
  display: grid;
  grid-template-rows: 2fr 1fr 3fr;
}

.grid-1fr-1fr-2fr-rows {
  display: grid;
  grid-template-rows: 1fr 200px 2fr;
}

.dark-green-background {
  background-color: @dark-green;
}

.yellow-background {
  background-color: @yellow;
}

.bottom-colourful-div {
  .outer;
  margin: @max-offset @max-offset 0 @max-offset;

  div {
    .inner;
    padding: 0 @max-offset;

    .h2-white;
  }
}

.sticky {
  position: sticky;
  top: 0;
  z-index: @max-z-index;
}

.underline {
  text-decoration: underline;
}

.yellow-block-text {
  color: white;
  font: normal @max-font-size @important-text-font-family;
}

.main-container-grid-props {
  display: grid;
  grid-template-rows: 0.7fr repeat(6, 56px 1fr);
}

.padding-inline {
   padding-inline: @inline-offset;
 }

.margin-inline-half {
  margin-inline: @inline-offset ./ 2;
}

.margin-right {
  margin-right: @inline-offset;
}

.margin-left {
  margin-left: @inline-offset;
}

.margin-top {
  margin-top: @inline-offset;
}

.margin-bottom {
  margin-bottom: @inline-offset;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.circle {
  background-color: @dark-green;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .big-numbers {
    font: bold 150px 'Leckerli One', cursive;
    color: @light-green;
    margin: 0;
  }
}

.p-on-yellow-background {
  font: lighter @max-plus-font-size @important-text-font-family;
  color: white;
  line-height: 1.5em;
}

// Меню
#menu-container {
  .div-with-three-equal-grid-columns;
  .dark-green-background;
  .sticky;

  padding: @min-offset @inline-offset;
  text-align: center;
  white-space: pre;

  a {
    padding-inline: @min-offset;
    font: normal @max-font-size @important-text-font-family;
    color: white;
    text-transform: uppercase;
  }
}

// Основной блок между меню и контактами
#main-container {
  margin-inline: @inline-offset;
  .main-container-grid-props;

  .divider {
    .dark-green-background;
    margin-inline: -@inline-offset;
  }

  #info-container {
    .div-with-three-equal-grid-columns;

    div {
      .outer;
    }

    .part-1 {
      .yellow-background;
      div {
        .yellow-background;
        .yellow-block-text;

        position: absolute;
        bottom: 0;

        padding-inline: @min-offset;

        p {
          text-align: left;
          margin-block: @min-offset;
        }
      }
    }

    #contacts {
      color: @dark-green;

      div {
        .inner;
        margin-inline: @inline-offset;

        #instagram-btn {
          .outer;
          .h3-font;
          display: block;

          background-color: @dark-green;
          border-radius: 4px;
          text-decoration: none;
          text-transform: none;
          text-align: left;
          padding: @min-offset;

          .right {
            right: 8px;
            position: absolute;
            top: 0;
            transform: translate(0%, @min-offset + (@max-font-size/3));
            height: 16px;
          }
        }
      }
    }

    .part-3 {
      img {
        position: absolute;
        top: 0;
        object-fit: cover;
        height: 100%;
      }

      div {
        .yellow-background;
        .yellow-block-text;
        position: absolute;
        top: 0;
        z-index: @mid-z-index;
        opacity: @opacity;
        padding-inline: @inline-offset;

        p {
          font: normal @min-font-size @important-text-font-family;
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }

  .project-container {
    .div-with-three-equal-grid-columns;
  }

  #project-1-container {
    .div-with-three-equal-grid-columns;

    .part-1 {
      .div-with-two-equal-grid-rows;

      .part-top {
        .outer;

        div {
          .inner;
          .absolute-inline-offset;
        }
      }

      .part-bottom {
        .outer;
          img {
            .inner-bottom;
          }

      }
    }

    .part-2 {
      .div-with-two-equal-grid-rows;

      .part-bottom {
        .dark-green-background;
        .bottom-colourful-div;
      }
    }

    .part-3 {
      .outer;

      div {
        .inner;
        .absolute-inline-offset;
      }
    }
  }

  #project-3-container {
    .part-1 {
      display: grid;
      grid-template-rows: 1fr 5fr;

      .bottom-colourful-div {
        margin: 0;
        padding-top: @mid-offset;
      }
    }

    .part-2 {
      display: grid;
      grid-template-rows: 2fr 4fr;

      padding-inline: @mid-offset;
    }

    .part-3 {
      display: grid;
      grid-template-rows: 5fr 1fr;

      a.inner  {
        left: 0;
        right: 0;
      }
    }

    p {
      .p-on-yellow-background;
    }
  }

  #tariff-1 {
    .part-1 {
      div.outer {
        margin-right: @inline-offset;
      }
    }
  }

  #design-boards-container {
    .concepts {
      display: grid;
      grid-template-rows: 0.8fr 0 1fr 0 1fr;

      .concepts-title {
        .dark-green-background;
        .h3-white;
        .outer;
        width: 120%;
        margin-bottom: @max-offset;

        h3 {
          padding-inline: @min-offset;
        }
      }

      .img-to-zoom {
        border-style: solid;
        border-width: @border-width;
        border-color: @dark-green;

        margin: @max-offset;
        padding: @max-offset;
      }

      .search-icon {
        color: @yellow;
        position: absolute;
        top: 1.5em;
        right: 1.5em;
        z-index: @mid-z-index;
      }
    }
  }

  .contacts-container {
    padding-block: @min-offset;

    h3 {
      margin: 0;
    }
  }
}

html {
  background-color: #bdc7bb;
  font: normal 32px Georgia Serif;
}

body {
  margin: 0;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

h1 {
  font: lighter @h1-font-size @important-text-font-family;
  line-height: 1em;
  text-transform: uppercase;
  color: @dark-green;
  text-align: center;
  margin: 0;
  word-wrap: break-word;
}

h2 {
  font: lighter @h2-font-size @important-text-font-family;
  line-height: 1.2em;
  text-transform: uppercase;
  color: @dark-green;
  text-align: center;
  display: block;
  margin: 0;
}

h3 {
  .h3-font;
  text-align: center;
}

p {
  .description-text;
}

hr {
  border: solid @dark-green 2px;
}

img {
  max-width:100%;
  object-fit: cover;
}

a {
  color: white;
  text-decoration: none;
  font-family: 'Old Standard TT', serif;
  text-transform: uppercase;
  background-color: transparent;
}

button,
button:active,
button:focus {
  outline: none;
}

.sl-wrapper .sl-navigation button,
.sl-wrapper .sl-close,
.sl-wrapper .sl-counter {
  color: @dark-green;
}

.sl-wrapper .sl-counter {
  font: bold @max-font-size @description-text-font-family;
}
